
<ion-list>
  <ion-item button (click)="buttonClick()">
  <ion-label>
    Mr Jeorge Bolb
  </ion-label>
</ion-item>
<ion-item button (click)="buttonClick()">
  <ion-label>
    Mr Velnor Abida
  </ion-label>
</ion-item>
<ion-item button (click)="buttonClick()">
  <ion-label>
    Mr Albert Ordin
  </ion-label>
</ion-item>
<ion-item button (click)="buttonClick()">
  <ion-label>
    Mr Allon Kodela
  </ion-label>
</ion-item>
<ion-item button (click)="buttonClick()">
  <ion-label>
    Mr Lance Meria
  </ion-label>
</ion-item>

<ion-row>
   <ion-item (click)="buttonClick()">
    <ion-button >Add</ion-button>
  </ion-item>
  </ion-row>
</ion-list>